html {
    width: 100%;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}

body {
    margin: 20px;
    background: #def2f1;
    color: #17252a;
}

h1 {
    border-radius: 25px;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 96px;
    color: #17252a;
    background: #3aafa9;
    padding: 30px 0;
    border: black 3px solid;
}

.article-forms {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.search-form {
    display: block;
    align-content: space-evenly;
}

.search-field, .filter-selection {
    height: 25px;
    border-radius: 5px;
}

.search-field {
    width: 200px;
}

.sort-form {
    /*margin-right: 50%;*/
    display: grid;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 16px;
    border: black 2px solid;
    border-radius: 5px;
}

.news {
    height: fit-content;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    grid-row-gap: 2rem;
}

.news a {
    text-decoration: none;
    color: black;
}

.post {
    border-radius: 10px;
    border: black 2px solid;
    padding: 10px 10px 30px;
    background: #b6f3ee;
}

.title {
    text-align: center;
}

.main-image{
    width: 100%;
}

.post-time {
    font-weight: bold;
    color: #a41515;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: black 1px solid;
}

.page-item {
    border: black 1px solid;
}

.pagination span a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 24px;
}