html {
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background: rgba(232,255,233,0.96);
}

h1 {
    border-radius: 25px;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 96px;
    color: rgba(24,24,22,0.96);
    background: rgba(124, 241, 112, 0.96);
    padding: 30px 0;
}

.news {
    height: fit-content;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    grid-row-gap: 2rem;
    background: rgba(191,255,171,0.96);
}

.news a {
    text-decoration: none;
    color: black;
}

.post {
    border-radius: 10px;
    padding: 10px 10px 30px;
    background: rgba(221,233,255,0.96);
}

.title {
    text-align: center;
}

.main-image{
    width: 100%;
}

.main-text{

}

.test {
    color: red;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: black 1px solid;
}

.page-item {
    border: black 1px solid;
}

.pagination span a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 24px;
}