{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
    <link rel="stylesheet" href="{% static 'news-style.css' %}">
    <title>Tengri News - {{ pk.project_id }}</title>
</head>
<body>
    <h1>{{ pk.title }}</h1>
    <div class="news">
    <div class="general-info">
        <time><b>Дата публикации статьи: {{ pk.project_date }}</b></time><br><br>
        
        <div class="authors-label">
        {% if authors %}
            <b>Авторы статьи:</b>
        {% endif %}
        {% for author in authors %}
            <label>{{ author }}. </label>
        {% endfor %}
        </div>
    </div>
        <div class="post">
            <img src="{{ pk.project_logo }}" alt="News" class="main-image">
            <p class="main-text">{{ pk.main_text|linebreaksbr }}</p><br><br>
            <a class="main-link" href="{{ pk.main_link }}">Посмотреть оригинал статьи</a>
        </div>
        
    </div>
<br>

</body>
</html>